{% extends "emails/base.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
    <h2>Password Reset Request</h2>
    
    <p>Hi {{ user.full_name }},</p>
    
    <p>We received a request to reset your password. Click the button below to reset it:</p>
    
    <a href="{{ reset_url }}" class="button">Reset Password</a>
    
    <p>Or copy and paste this link into your browser:</p>
    <p><a href="{{ reset_url }}">{{ reset_url }}</a></p>
    
    <p>This link will expire in 1 hour.</p>
    
    <p>If you didn't request this password reset, please ignore this email.</p>
{% endblock %}